*{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}
@font-face {
  font-family: 'CookieRunBlack';
  src: url('font/CookieRun Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Mamelon5';
  src: url('font/Mamelon-5-Hi-Regular.woff2') format('woff2');
}
body{
  background-color: tan;
}
/*==================
ヘッダー表示設定
==================*/
header{
  position: sticky;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 83px;
  padding-top: 5px;
  background-color: tan;
  border-bottom: 2px solid #665744;
}
/*==================
ロゴ表示設定
==================*/
.wrap{
  text-align: center;
  height: 56px;
}
/*==================
ナビゲーション設定
==================*/
nav ul{
  width: 80%;
  display: flex;
  list-style: none;
  padding-bottom: 3px;
  justify-content: space-between;
  margin: auto;
}
.item{
  text-decoration: none;
  color: #4b4b4b;
  font-family: "CookieRunBlack";
  font-size: 1rem;
  -webkit-text-stroke: 0.8px #ffffff;
  display:block;
  align-items: center;
}
.wrap-connect{
  display: inline-block;
}
.discord-icon{
  vertical-align: middle;
  margin-right: 2px;
  text-align: center;
  display: inline-block;
}
/*==================
スライダー設定
==================*/
.slider-items {
  margin: auto;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}
.slider-items img {
  width: 100%;
}
/* arrow */
.slick-arrow{
  z-index: 2;
  top: 50%;
  margin-top: -10px;
  width: 15px;
  height: 15px;
  border-top: 3px solid #d2b48c;
  border-right: 3px solid #d2b48c;
  opacity: .8;
}
.slick-arrow::before{
  content: '';
}
.slick-prev{
  left: 15px;
  transform: rotate(-135deg);
}
.slick-next{
  right: 15px;
  transform: rotate(45deg);
}
/*==================
フッター設定
==================*/
footer p{
  text-align: center;
}
